h1 {
    color: rgb(51, 146, 255);
}

.pets {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 450px;
    height: 300px;
    margin: 5px;
    transition: all 0.1s;
}

img:hover {
    transform: scale(1.1);
}